<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/jquery.mobile.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
	<script language="javascript" src="static/jquery.js"></script>
	<script language="javascript" src="static/jquery.mobile.min.js"></script>
    <script language="javascript"  src="static/jquery.add-input-area.min.js"></script>
	<style>
    table {
        width: 250%;
    }
    form, #reset_config, #kill_instance, #Submit {
        margin: 35px;
		width: 30%;
	}
	.form-group, .checkbox{
  	display: inline-block;
	}
	#chn_field{
		min-width: 366px;
	}
	</style>
</head>
<body>

	<form id="config">
		<label> Device Selection</label>
		<button id="find_devices" type="button">Find Devices</button>
		<img id="loading_anim" class="hideable_img" src="static/images/ajax-loader.gif" height="42" width="42" style="display none;">
	<br>
<!--        <input name="textinput-s" id="devinput-s" placeholder='device list' value={{crt_conf['device']}} disabled="true" data-clear-btn="true" type="text">-->

        <table id="device-list" class="table"><!-- "id" attribute is required -->
            <tbody>
                <tr class="device-list_var"><!-- .(id)_var -->
                    <td><select class="dev_selector" id="mySelect_0">
			             <option value="">Select New Device</option>
                        </select>
                    </td>
                    <td><input type="text" name="textinput-s" id="device_0" placeholder='MAC address (select above)' value={{crt_conf['device']}} data-clear-btn="true" ></td>
                    <td><input type="text" name="textinput-s" id="devicetype_0" disabled=true data-clear-btn="true" ></td>
                    <td class="del-area"><button class="device-list_del btn-default">Remove</button></td>
                 </tr>
            </tbody>
        </table>
        <input type="button" value="Add" class="device-list_add"><!-- .(id)_add --
        <a href="javascript:void(0)" class="list_add btn btn-danger">Add</a><br>


		<!-- <label for="fsinput-s">Sampling Rate:</label>
		<input name="textinput-s" id="fsinput-s" placeholder={{crt_conf['sampling_rate']}} value={{crt_conf['sampling_rate']}} data-clear-btn="true" type="text">

		<label for="bsinput-s">Buffer Size:</label>
		<input name="textinput-s" id="bsinput-s" placeholder={{crt_conf['buffer_size']}} value={{crt_conf['buffer_size']}} data-clear-btn="true" type="text"> -->

		<label for="chnz-s"></label>
		<fieldset id='chn_field' data-role="controlgroup" data-type="horizontal">
			<legend>Channel Selection:</legend>
				{% for chn in old_conf['channels'] %}
					{% if chn in crt_conf['channels'] %}
					<input onclick=clicked({{chn}}) name="chk{{chn}}" id="ch{{chn}}" type="checkbox" checked>
					{% else %}
					<input onclick=clicked({{chn}}) name="chk{{chn}}" id="ch{{chn}}" type="checkbox">
					{% end %}
					<label for="ch{{chn}}">Channel A{{chn}}</label>
				{% end %}
		</fieldset>
		<label for="lblz-s"></label>
		<fieldset id='lbl_field' data-role="controlgroup" data-type="horizontal">
			<legend>Label Selection:</legend>
				{% for chn in old_conf['labels'][:5] %}
				<input name="chk{{chn}}" id="lb{{chn}}" type="text" placeholder='{{chn}}' value='{{chn}}'>
				{% end %}
				{% for chn in old_conf['labels'][5:] %}
				<input name="chk{{chn}}" id="lb{{chn}}" type="text" placeholder='{{chn}}' value='{{chn}}' disabled='disabled'>
				{% end %}

		</fieldset>

		{% for key in crt_conf %}
			{% if 'channels' not in key and 'labels' not in key and 'device' not in key %}
			<label for={{key}}-s>{{key}}</label>
				{% if 'protocol' in key %}
				<select id="{{key}}-s">
					<option value="" selected disabled hidden>{{crt_conf[key]}}</option>
					<option value='"Websockets"'>Websockets</option>
					<option value='"OSC"'>OSC</option>
				</select>
				{% else %}
			<input name="textinput-s" id="{{key}}-s"  value={{crt_conf[key]}} data-clear-btn="true" type="text">
				{% end %}
			{% end %}
		{% end %}

		<!-- <label for="pinput-s">Port:</label>
		<input name="textinput-s" id="pinput-s" placeholder={{crt_conf['port']}} value={{crt_conf['port']}} data-clear-btn="true" type="text"> -->

		<input id='Submit' value="Submit" type="submit">
	</form>

	<button id="reset_config" type="button">Reset</button>
    <button id="kill_instance" type="button">Stop ServerBIT</button>

<script>
    var dev_list = {}
    var num_devices = 1
    $('#device-list').addInputArea({
        maximum : 10,
        area_del: '.del-area',
        after_add: function () {
            num_devices = $('select.dev_selector').length;
            var new_id = (num_devices-1).toString();
            var new_dropdown = $('select.dev_selector').last();
            var new_dropdown_id = "mySelect_".concat((num_devices-1).toString());
            new_dropdown.prop("id", new_dropdown_id);
            new_dropdown.change(function() {
                console.log(new_id);
                updateDeviceType(document.getElementById(new_dropdown.attr("id")), new_id);
            })
        }
    });

	function update_device_list(dl) {
//		$(".dev_selector").find('option').not(':first').remove();
		if (dl.size == 0){
			return
        }
        $("select.dev_selector").each(function(){
            $(this.id).find('option').not(':first').remove();
            var my_dropdown = document.getElementById((this.id).toString())
            dl.forEach(function(dev) {
                var option = document.createElement("option");
                option.text = dev[0];
                option.value = dev[0];
                option.id = dev[1];
                my_dropdown.add(option)
            });
        });
		$('.hideable_img').hide('slow');
	}

	if (document.getElementById("device_0").value === "WINDOWS-XX:XX:XX:XX:XX:XX|MAC-/dev/tty.BITalino-XX-XX-DevB"){
		document.getElementById("device_0").value = ""
	}

	function updateDeviceType( d , d_id){
    var device_id = "device_".concat(d_id);
    var devicetype_id = "devicetype_".concat(d_id);
		document.getElementById(device_id).value = d.value;
		document.getElementById(devicetype_id).value = d.options[d.selectedIndex].id;
	}

	var device_clicked = document.getElementById("mySelect_0");
    updateDeviceType(device_clicked, 0);
	device_clicked.addEventListener('change', function(event) {
		updateDeviceType(device_clicked, 0);
	});

	function clicked(buttonNumber){
		if($('#ch'+buttonNumber).prop('checked')){
			$('#lbA'+buttonNumber).textinput('enable')
		} else {
			$('#lbA'+buttonNumber).textinput('disable')
		}
	}

	function hasNumber(myString) {
  	     return /\d/.test(myString);
	}

    function addID(myString, id) {
  	     return myString.concat(id.toString());
	}

	document.addEventListener('DOMContentLoaded', function() {
		// update_device_list(dev_list)
		var f = document.getElementById("chn_field");
		var inputs = f.getElementsByTagName("input")
		for (var i = 1; i <= inputs.length; i++){
			clicked(i)
		}
    });

    function get_device_list(json_response){
        $.getJSON(json_response).done(function(response) {
                    dev_list = response['dev_list']
                    update_device_list(dev_list)
            })
    }

	$('.hideable_img').hide();
	$("#find_devices").click(function (e) {
        e.preventDefault();
        e.stopImmediatePropagation();
		$('#loading_anim').show('fast');
		var device_list_url = 'http://localhost:9001/v1/devices'
        $.ajax({
                url: device_list_url,
                type: 'GET',
                dataType: 'jsonp',
				})
        $.getJSON(device_list_url).done( function (response) {
                    dev_list = response['dev_list'];
                    update_device_list(dev_list);
            });
    });



$(document).on('submit', function( e ){
//		if (document.getElementById("devtype-s").value == ""){
//			alert("Please select a BITalino device in Device Selection")
//			window.location.href = 'http://localhost:9001/config'
//			return;
//		}
		var entry_inputs = {}
		var lbz = []
		var chnz = []

		var f = document.getElementById("lbl_field");
		var inputs = f.getElementsByTagName("input")
		for (var i = 0; i < inputs.length; i++){
			if (!inputs[i].disabled){
				lbz.push(inputs[i].value)
				if (i > 4){
					chnz.push( i-4 )
				}
			}
		}
		console.log(chnz.slice(5))

		var fields = document.getElementById("config").querySelectorAll("label");
		for (var i = 0; i <= fields.length; i++){
			if (typeof fields[i] !== 'undefined') {
				var key = fields[i].htmlFor
				if (hasNumber(key) == false){
					var input = document.getElementById(key);
					if (input !== null){
						// console.log(input.value)
						entry_inputs[key] = input.value
					}
				}
			}
		}
		console.log(entry_inputs)

		json_entry_inputs = {
			"device": entry_inputs["devinput-s"],
			"sampling_rate": entry_inputs["sampling_rate-s"],
			"buffer_size": entry_inputs["buffer_size-s"],
			"ip_address": entry_inputs["ip_address-s"],
			"port": entry_inputs["port-s"],
			"protocol": entry_inputs["protocol-s"],
			"channels": chnz,
			"labels": lbz
		};

		$.ajax({
			type: "POST",
			url: 'http://localhost:9001/v1/configs',
			async: 'true',
			data: JSON.stringify(json_entry_inputs),
			// data: '{"device": "'+dev+'", "sampling_rate":'+fs+', "buffer_size":'+bs+', "port":'+port+', "labels":"'+lbz+'", "channels":"'+ chnz +'"}',
			success: function (result) {
				alert("redirecting to ClientBIT")
				window.location.href = 'http://localhost:9001/v1/configs'
			},
			error: function (request,error) {
				// This callback function will trigger on unsuccessful action
				alert(request.responseText);
			}
		})
	});

	document.getElementById("reset_config").addEventListener("click", function(){
		console.log("reset")
		$.ajax({
			type: "POST",
			url: 'http://localhost:9001/v1/configs',
			async: 'true',
			data: JSON.stringify("restored config.json"),
			success: function (result) {
				alert(result)
			},
			error: function (request,error) {
				// This callback function will trigger on unsuccessful action
				alert(request.responseText)
			}
		})
	});
	</script>
</body>

</html>
